body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 80vh;         
    margin: 0;              
}

#calculadora {
    height: 500px;
    width: 500px;
    padding: 20px;
    
}
#display {
    margin-top: 15vh;
    text-align: center;
}
.row{
    text-align: center;
    margin: 10px;
}
#anteriorResult{
    margin-right: 100px;
    text-align: center;
}
